button{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color:transparent;
    font-size: 60px;
    border-left: 0;
    border-top: 0;
    
}

button{
    color:#FFA500;;
}


.jogoTabuleiro {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}
button:disabled{
   border-color: black;
} 

.X{
    color: #FFA500;
}
.O{
    color: #22dd49 ;
}
body {
    background-color: #7a08f7;

    
  }